// Common rules
.hidden{
  display: none;
}

.weui-cell.weui-cell_vcode{
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
}


// .weui-cell{
//   padding: 12px 15px;
// }

.weui-cell.validation_error{
  border-bottom: 1px solid red;
  color: red;
}

.weui-msg__icon-area{
  img{
    width: 93px;
    height: 93px;
    border-radius: 50px;
  }
}

.weui-msg__icon-area{
  margin-bottom: 10px;
}

.weui-msg__desc{
  padding: 5px;
}

.weui-btn-area{
  margin-bottom: 50px;
  margin-top: 40px;
}

.weui-uploader__file{
  margin-right: 7px;
}

.weui-uploader__input-box#picker1,.weui-uploader__input-box#picker2,.weui-uploader__input-box#picker3{
  // 可以遮住plupload生成的上传按钮
  z-index: 9999;
}

.weui-input{
  /* webkit solution */
  ::-webkit-input-placeholder { text-align:right; }
  /* mozilla solution */
  input:-moz-placeholder { text-align:right; }
}

li.weui-uploader__file{
  border: 1px solid #D8D7D7;
}

// make input button like a.weui-btn, see reservations/new page
input.weui-btn.weui-btn__primary{
  line-height: 2.55555556;
  font-size: 18px;
  padding: 0;
  color: #FFFFFF;
}


body,
html {
  height: 100%;
  -webkit-tap-highlight-color: transparent;
  overflow-x: hidden;
  background-color: #fbf9fe;
  font-family: -apple-system-font, Helvetica Neue, Helvetica, sans-serif;

  .wrapper {
    height: 100%;
    margin: 0;
    padding: 0;
    #mapContainer {
      width: 100%;
      padding: 0;
      margin: 0;
      min-height: 300px;
    }
  }
  .weui-cells_form .weui-cell__hd {
    padding-right: 1.3em;
    .weui-label {
      width: 100%;
    }
  }
  .container {
    padding: 0 !important;
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    .tabbar {
      height: 100%;
    }
    .weui-tab__panel {
      .bd {
        position: inherit;
        & > a {
          display: block;
        }
        .weui-panel__bd {
          position: relative;
          .weui_media_status {
            position: absolute;
            top: 21px;
            right: 3px;
            font-size: 11px;
          }
        }
      }
    }
  }
}

.home_index {
  ul {
    li {
      padding: 8px;
      list-style: none;
    }
  }
}

.posts_show{
  .weui-tab__panel{
    .page_title{
      padding: 30px;
    }
    .weui_article{
      padding: 50px;
    }
  }
}

.rating_body{
  margin-bottom: 30px;
  textarea{
    height: 100px !important;
  }
}

.new_rating{
  .btn.weui-btn.weui-btn__primary{
    font-size: 18px;
  }
}

a.add-medical-record{
  color: #0921EA;
}

.simple_form.new_medical_record, .simple_form.edit_medical_record{
  select.weui-input{
    width: 30%;
  }
}
.weui-cell.medical_record_name:before{
  display: none;
}
