.hidden{
  display: none;
}


body,
html {
  height: 100%;
  -webkit-tap-highlight-color: transparent;
  overflow-x: hidden;
  background-color: #fbf9fe;
  font-family: -apple-system-font, Helvetica Neue, Helvetica, sans-serif;
  .weui-cell.validation_error{
    border-bottom: 1px solid red;
    color: red;
  }
  .wrapper {
    height: 100%;
    margin: 0;
    padding: 0;
    #mapContainer {
      width: 100%;
      padding: 0;
      margin: 0;
      min-height: 300px;
    }
  }
  .weui-cells_form .weui-cell__hd {
    padding-right: 1.3em;
    .weui-label {
      width: 100%;
    }
  }
  .container {
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    .tabbar {
      height: 100%;
    }
    .weui-tab__panel {
      .bd {
        position: inherit;
        & > a {
          display: block;
        }
        .weui-panel__bd {
          position: relative;
          .weui_media_status {
            position: absolute;
            top: 21px;
            right: 3px;
            font-size: 11px;
          }
        }
      }
    }
  }
}
// 让fex uploader 生成的层浮动到最上层，不然触发了fex uploader 的上传事件
.weui_uploader .webuploader-pick {
  width: 48px;
  height: 57px;
  z-index: 2;
  background: none;
}
.weui_uploader .webuploader-pick + div {
  z-index: 3;
}
.bd {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.bd .weui-tab__panel {
  padding-top: 50px;
  text-align: center;
}
.weui_uploader_files {
  li {
    float: left;
    margin-right: 10px;
    border: 1px solid #EEE;
  }
}
.reservations_show {
  section {
    padding: 10px 15px;
    .weui-cell {
      padding: 0 15px 10px 0;
    }
  }
}
.home_index {
  ul {
    li {
      padding: 8px;
      list-style: none;
    }
  }
}
.reservations_public {
  .weui-btn__primary {
    float: right;
    margin-top: -57px;
  }
  .weui-media-box__info{
    text-decoration: none;
  }
}


.my_doctors_reservations_index{
  .container .weui-tab__panel .bd{
    // margin-top: 15%;
  }

}


.posts_show{
  .weui-tab__panel{
    .page_title{
      padding: 30px;
    }
    .weui_article{
      padding: 50px;
    }
  }
}

.my_patients_medical_records_index{
  .weui-tab__panel{
    a.weui-btn__primary{
      margin-top: 20px;
      width: 90%;
    }
  }
}

.rating_body{
  margin-bottom: 30px;
  textarea{
    height: 100px !important;
  }
}

.new_rating{
  .btn.weui-btn.weui-btn__primary{
    font-size: 18px;
  }
}

.my_patients_reservations_show{
  .weui-msg .weui_text_area{
    margin-bottom: 10px;
  }
}

#tags-input{
  margin-top: 10px;
  margin-bottom: 10px;

  .badge{
    border: 1px gray solid;
    color: inherit;
    background-color: inherit;
  }

  .badge.active {
    color: #fff;
    background-color: #777;
  }

  .tag-badge {
    margin-right: 5px;
    margin-bottom: 5px;
    font-weight: 100;
    font-size: 14px;
    line-height: 20px;
  }
  .tag-icon {
    margin-left: 5px;
    margin-right: -3px;
  }
  .tag-badge a.tag-link {
    color: #ffffff;
    text-decoration: underline;
  }
  .tag-input {
    border: 0 solid;
    margin: 0;
    padding: 0;
    font-weight: 100;
    border: 0 solid;
    background-color: transparent;
    height: 18px;
    margin-top: -5px;
    color: #ffffff;
    outline: none;
  }
}

.users_scan_qrcode{
  .container{
    margin: 90px auto;
    table {
      border-width: 0;
      border-style: none;
      border-color: #0000ff;
      border-collapse: collapse;
      margin: 0 auto;
    }

    td {
      border-left: solid 10px #000;
      padding: 0;
      margin: 0;
      width: 0px;
      height: 10px;
    }

    td.black { border-color: #000; }
    td.white { border-color: #fff; }
  }
}

.my_patients_profile, .my_doctors_patients_profile{

  .weui-panel__access{
    .weui-panel__hd{
      .weui-cell_link{
        font-size: 18px;
        padding:10px 0;
      }
      .weui-cell:before{
        border-top: 0;
      }
    }
  }
  .weui-panel__hd:after{
    border-bottom: 0;
  }
  .weui-medical-record{
    border-bottom: 1px solid #D9D9D9;
  }


}
a.add-medical-record{
  color: #0921EA;
}

.weui-msg__icon-area{
  img{
    width: 93px;
    height: 93px;
    border-radius: 50px;
  }
}

.weui-msg__icon-area{
  margin-bottom: 10px;
}


.simple_form.new_medical_record, .simple_form.edit_medical_record{
  select.weui-input{
    width: 30%;
  }
}
