// Place all the styles related to the patients/family_members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.page__hd{
  padding: 40px;
}

.product—list {
  .weui-cell {
    padding: 32px 15px;
  }
}


a.weui-cell {
  // height: 50px;
  height: auto;
}
