.page_terms{
  h3 {
    margin: 25px 5px 15px 15px;
  }

  h4 {
    margin: 15px;
  }

  h5 {
    margin: 10px 5px 10px 15px;
  }

  p {
    margin-left: 15px;
    margin-right: 5px;
  }

  li {
    margin-left: 45px;
    margin-right: 5px;
  }
}
