.products_show{
   .weui-article{
     h1{
       margin-bottom: 1em;
       text-align: center;
       font-size: 1.5em;
       font-weight: 600;
     }
     h3{
       width: 22%;
       background: #46e78d;
       color: white;
       text-align: center;
     }
     h5 {
       margin-bottom: 0.5em;
      color: #777;
      font-weight: 300;
     }
     p {
       padding-top: 5px;
       font-size: .9em;
       color: #777;
     }
    .weui-btn-area{
        margin-top: 10em;
    }
   }
}
