.users_qrcode{
  .container{
    margin: 90px auto;
    table {
      border-width: 0;
      border-style: none;
      border-color: #0000ff;
      border-collapse: collapse;
      margin: 0 auto;
    }

    td {
      border-left: solid 10px #000;
      padding: 0;
      margin: 0;
      width: 0px;
      height: 10px;
    }

    td.black { border-color: #000; }
    td.white { border-color: #fff; }


    .weui-cells.weui-cells_form{
      width: 90%;
      margin: 0 auto;
      border-radius: 3px;
      text-align: center;
      height: 70%;
      box-shadow: 0px 1px 5px #212121;
    }
    img{
      display: block;
      // width: 80%;
      margin: 0 auto;
      top: 10%;
    }
  }
}
