// comment out stylesheet_link_tag :bootstrap_fontawesome in reservations/new
* {
    box-sizing: border-box;
}

.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #777;
  border-radius: 10px;
}
.badge:empty {
  display: none;
}

.required {
  color: red;
  margin-right: 5px;
}

.reservations_choose_type{
  .weui-btn-area{
    margin-top: 150px;
  }
  .weui-btn{
    margin-bottom: 50px;
  }
}

.reservations_public {
  .weui-media-box__info{
    text-decoration: none;
  }
}

.reservations_new{
  #symptom-tags{
    .pills-list{
      .badge{
        line-height: 2.5;
        height: 50px;
        margin: 5px;
        font-weight: normal;
        border-radius: 25px;
        font-size: 17px;
        border: 1px solid #777;
        background-color: #FFF;
        color: #777;
      }
      .badge.active{
        background-color: #000;
        color: #FFF;
      }
    }
  }
  #symptom-tag-details{
    .pills-list{
      .badge{
        font-weight: normal;
        font-size: 15px;
        border: 1px solid #777;
        background-color: #FFF;
        color: #777;
        margin: 4px;
      }
      .badge.active{
        background-color: #000;
        color: #FFF;
      }
    }
  }

  .weui-cell-remark{
    // .weui-cell__hd{
    //   margin-right: 32px;
    // }
    // ::-webkit-input-placeholder {
    //   line-height: 3;
    // }
  }
  .weui-cell-name{
    .weui-cell__hd{
      margin-right: 34px;
    }
  }

  #uploader-placeholder{
    color: #999999;
    font-size: 0.8em;
  }
}

.reservations_show {
  section {
    padding: 10px 15px;
    .weui-cell {
      padding: 0 15px 10px 0;
    }
  }
}

.doctors_reservations_show{
  .chief-complains_img{
    width: 20%;
  }
  .chief-complains_img img{
    width: 60px;
    display: block;
  }
  .chief-complains{
    text-align: right;
    font-size: .6em;
    width: 56%;
    color: #999;
  }
  .weui-cell__hd {
    text-align: center;
  }

  .weui_media_status {
    border-radius: 5px;
    line-height: 30px;
    height: 30px;
    margin: 5px 0 auto;
    background: #10aeff;
    text-align: center;
    color: white;
  }
  .weui-cell__bd_ul {
    margin-top: 20px;
    list-style: none;
    list-style: none
  }
  .weui-cell__bd_ul li{
    color: #999;
    width: 50%;
    float: left;
    text-decoration: none;
    padding-right: 20px;
    font-size: .8em;
    padding-bottom: 5px;
  }
  .weui-cell__bd h4{
    position: relative;
    top: 5px;
    font-weight: 400;
  }
  .weui-cell_primary input{
    text-align: right;
    width: 100%;
    font-size: .8em;
    color: #999;
  }
  .weui-cell_primary input::after {
    content: " ";
    display: inline-block;
    height: 6px;
    width: 6px;
    border-width: 2px 2px 0 0;
    border-color: #C8C8CD;
    border-style: solid;
    -webkit-transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    position: relative;
    top: -2px;
    position: absolute;
    top: 50%;
    margin-top: -4px;
    right: 15px;

  }
}

.doctors_reservations_index{
  .container .weui-tab__panel .bd{
    // margin-top: 15%;

  }
}

.doctors_wallets_index{
  .weui-msg__icon-area{
    span{
      position: absolute;
      left: 44%;
    }
  }
  .weui-msg__text-area.left{
    float: left;
  }
  .weui-msg__text-area.right{
    float: right;
  }

  .weui-msg__opr-area{
    margin-top: 100px;
  }

}

.doctors_wallets_index, .doctors_wallets_withdraw {
  .weui-msg__icon-area{
    i{
      display: block;
    }
  }
}

.weui-cell-remark{
  textarea{
    min-height: 100px;
  }
}

.patients_medical_records_index{
  .weui-tab__panel{
    a.weui-btn__primary{
      margin-top: 20px;
      width: 90%;
    }
  }
}


.doctors_profile, .patients_profile, .doctors_patients_profile{

  .weui-panel__access{
    .weui-panel__hd{
      .weui-cell_link{
        font-size: 18px;
        padding:10px 0;
      }
      .weui-cell:before{
        border-top: 0;
      }
    }
  }
  .weui-panel__hd:after{
    border-bottom: 0;
  }
  .weui-medical-record{
    border-bottom: 1px solid #D9D9D9;
  }

}

.patients_medical_records_new, .patients_medical_records_edit,
.doctors_medical_records_new, .doctors_medical_records_edit{
  .tab1{
    .weui-cell{
      .weui-cell__hd{
        width: 20%;
      }
    }
  }
}



.patients_reservations_show{
  .weui-msg .weui_text_area{
    margin-bottom: 10px;
  }
  .weui_media_status{
    border-radius: 5px;
    width: 50%;
    line-height: 30px;
    height: 30px;
    margin: 0 auto;
    background: #10aeff;
    text-align: center;
    color: white;

  }
  .chief-complains_img{
    width: 20%;
  }
  .chief-complains_img img{
    width: 60px;
    display: block;
  }
  .chief-complains{
    text-align: right;
    font-size: .6em;
    width: 56%;
    color: #999;
  }
  .base-info{

  }
  .base-info-patient-avatar{
    text-align: center;
    position: relative;
    img{
      width:60px;
      display:block;
    }
  }
  .base-info-doctor-avatar{
    text-align: center;
    position: relative;
    img{
      width:60px;
      display:block;
    }
  }
}


.patients_reservations_index{
  .weui-cells{
    .weui-cell__hd{
      margin-right: 15px;
    }
  }
  .weui-media-box{
    a{
      display: block;
    }
  }
  .weui_media_status{
    color: white;
    text-align: center;
    margin-top: 5px;
    padding: 4px 2px;
    border-radius: 2px;
    background: #10aeff;
  }
  .weui-cell__hd img {
    width:60px;
    display:block;
  }
  .weui-media-box__desc{

  }
}

.doctors_reservations_index{
  .weui-cells{
    .weui-cell__hd{
      margin-right: 15px;
    }
  }
  .weui-media-box{
    a{
      display: block;
    }
  }
  .weui_media_status{
    color: white;
    text-align: center;
    margin-top: 5px;
    padding: 4px 2px;
    border-radius: 2px;
    background: #10aeff;
  }
  .weui-cell__hd img {
    width:60px;
    display:block;
  }
  .weui-media-box__desc{

  }
}

#diagnosis{
  .weui-media-box__desc{
    -webkit-line-clamp: unset;
  }
}
