.my_patients_reservations_index{
  .weui-media-box{
    a{
      display: block;
    }
  }
}


.my_doctors_wallets_index{
  .weui-msg__icon-area{
    span{
      position: absolute;
      left: 44%;
    }
  }
  .weui-msg__text-area.left{
    float: left;
  }
  .weui-msg__text-area.right{
    float: right;
  }

  .weui-msg__opr-area{
    margin-top: 100px;
  }

}

.my_doctors_wallets_index, .my_doctors_wallets_withdraw {
  .weui-msg__icon-area{
    i{
      display: block;
    }
  }
}

.reservations_new{
  #symptom-tags{
    .pills-list{
      .badge{
        line-height: 2.5;
        height: 50px;
        margin: 5px;
        font-weight: normal;
        border-radius: 25px;
        font-size: 17px;
        border: 1px solid #777;
        background-color: #FFF;
        color: #777;
      }
      .badge.active{
        background-color: #000;
        color: #FFF;
      }
    }
  }
  #symptom-tag-details{
    .pills-list{
      .badge{
        font-weight: normal;
        font-size: 15px;
        border: 1px solid #777;
        background-color: #FFF;
        color: #777;
        margin: 4px;
      }
      .badge.active{
        background-color: #000;
        color: #FFF;
      }
    }
  }
}
