{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": "> 1%",
        "uglify": true
      },
      "useBuiltIns": true
    }]
  ],

  "plugins": [
    "syntax-async-functions",
    "syntax-async-generators",
    "transform-async-to-generator",
    "syntax-dynamic-import",
    "transform-object-rest-spread", ["transform-class-properties", {
      "spec": true
    }]
  ]
}
