.git*
tmp/*
log/*
db/*.sqlite3
db/*.sqlite3-journal
Dockerfile
node_modules/
coverage/
.cache/

build
dist
*.egg-info
*.egg/
*.pyc
*.swp

.tox
.coverage
html/*
__pycache__

# Compiled Documentation
docs/_build
