<div class="msg">
<div class="weui_msg">
    <div class="weui_icon_area"><i class="weui_icon_success weui_icon_msg"></i></div>
    <div class="weui_text_area">
        <h2 class="weui_msg_title">支付成功</h2>
        <p class="weui_msg_desc">谢谢使用，如果方便请对我们的服务作些评价吧</p>
    </div>
    <div class="weui_opr_area">
        <p class="weui-btn_area">
            <a href="javascript:WeixinJSBridge.call('closeWindow');" class="weui-btn weui-btn__primary">确定</a>
        </p>
    </div>
    <div class="weui_extra_area">
        <a href="">帮助</a>
    </div>
</div>
</div>
