<div class="msg">
<div class="weui-msg">
    <div class="weui-msg__icon-area"><i class="weui-icon-success weui-icon_msg"></i></div>
    <div class="weui_text_area">
        <h2 class="weui-msg__title">支付成功</h2>
        <p class="weui-msg__desc">谢谢使用，如果方便请对我们的服务作些评价吧</p>
    </div>
    <div class="weui-msg__opr-area">
        <p class="weui-btn-area">
            <a href="javascript:WeixinJSBridge.call('closeWindow');" class="weui-btn weui-btn__primary">确定</a>
        </p>
    </div>
    <div class="weui-msg__extra-area">
        <a href="">帮助</a>
    </div>
</div>
</div>
