<div class="tabbar">
  <div class="weui-tab">
      <div class="weui-tab__panel">

          <div class="panel">
            <div class="bd">
              <% if @reservations.any? %>
                <% @reservations.each do |res| %>
                  <div class="weui_panel">
                    <%= render 'entry', res: res %>
                  </div>
                <% end %>
              <% else %>
              你暂时没有预约
              <% end %>
            </div>
          </div>

      </div>

      <div class="weui-tabbar">
        <a href="/my/doctors/reservations" class="weui-tabbar__item weui_bar__item_on">
          <img src="/icon_nav_button.png" alt="" class="weui-tabbar__icon">
          <p class="weui-tabbar__label">当前预约</p>
        </a>

        <a href="/posts" class="weui-tabbar__item">
          <img src="/icon_nav_article.png" alt="" class="weui-tabbar__icon">
          <p class="weui-tabbar__label">必读文章</p>
        </a>
        <a href="/my/doctors/index" class="weui-tabbar__item">
          <img src="/icon_nav_cell.png" alt="" class="weui-tabbar__icon">
          <p class="weui-tabbar__label">我</p>
        </a>
      </div>

  </div>
</div>
