<div class="msg">
    <div class="weui_msg">
        <div class="weui_icon_area"><i class="weui_icon_info weui_icon_msg"></i></div>
        <div class="weui_text_area">
            <h2 class="weui_msg_title">你已经和用户确认了预约，请等待其支付定金</h2>
            <p class="weui_msg_desc">用户支付了定金就代表预约成立,1小时内未支付定金的自动解除预约</p>
        </div>
        <div class="weui_opr_area">
          <p class="weui_btn_area">
            <a href="javascript: IM.call(<%= current_user.id %>, <%= resource.user_a %>, <%= resource.id %>, <%= resource.mobile_phone %>);" class="weui_btn weui_btn_primary">拨打电话</a>
          </p>
        </div>
        <div class="weui_extra_area">
            <a href="">帮助</a>
        </div>
    </div>
</div>
