<%= simple_form_for resource, url: claim_my_doctors_reservation_path(resource) , method: 'PUT' do |f| %>

<div class="weui-cells__title">预约</div>

<p class="weui-cells_tips">顶部说明文字</p>

<div class="weui-cells weui-cells_form">

  <div class="weui-cell">
    <div class="weui-cell__hd">
      <label class="weui_label" for="">时间</label>
    </div>
    <div class="weui-cell__bd weui-cell_primary">
      <input class="weui_input" name="reservation[reservation_time]" placeholder="你们商量好的时间" type="datetime-local" value="<%= resource.reservation_time %>">
    </div>
  </div>

  <div class="weui-cell">
    <div class="weui-cell__hd">
        <label for="" class="weui_label">地点</label>
    </div>
    <div class="weui-cell__bd weui-cell_primary">
      <input class="weui_input" name="reservation[reservation_location]" placeholder="你们商量好的位置" type="text" value="<%= current_user.doctor.location %>">
    </div>
  </div>
</div>

<p class="weui-cells_tips">底部说明文字底部说明文字</p>

<div class="weui-btn_area">
  <!-- <a class="weui-btn weui-btn__primary" href="javascript:">确定</a> -->
  <button class="weui-btn weui-btn__primary">确定</button>
</div>

<% end %>


<%- content_for :js  do %>
<script type="text/javascript">
  $(function(){
    if(navigator.geolocation){
    navigator.geolocation.getCurrentPosition(onSuccess,onError);
  } else {
    alert("Geolocation is not supported by this browser.");
  }

  function onSuccess(e){
    console.log('on geoLocation success, center and zoom current position')
    // var mk = new BMap.Marker(e.coords.longitude, e.coords.latitude);    //基于定位的这个点的点位创建marker
    // map.addOverlay(mk);    //将marker作为覆盖物添加到map地图上
    // map.panTo(e.coords);   //将地图中心点移动到定位的这个点位置。注意是r.point而不是r对象。
    // map.centerAndZoom(new BMap.Point(e.coords.longitude, e.coords.latitude), 12);
    console.log(e.coords.longitude, e.coords.latitude);

  }

  function onError(e){
    console.log('on geoLocation failed')
  }

  })
</script>
<% end %>
