<!-- <div class="navbar">
	<div class="bd" style="height: 100%;">
	    <div class="weui-tab">
	        <div class="weui_navbar">
	            <div class="weui_navbar_item">
	                已支付定金
	            </div>
	            <div class="weui_navbar_item">
	                待支付定金
	            </div>
	            <div class="weui_navbar_item weui_bar_item__on">
	                已完成
	            </div>
	        </div>
	        <div class="weui-tab__panel">

	        </div>
	    </div>
	</div>
</div> -->

<div class="tabbar">
  <div class="weui-tab">
      <div class="weui-tab__panel">

          <div class="panel">
            <div class="bd">
              <% if @reservations.any? %>
                <% @reservations.each do |re| %>
                  <%= render 'entry', res: re %>
                <% end  %>
              <% else %>
                你暂时没有预约
              <% end %>
            </div>
          </div>

      </div>

      <div class="weui-tabbar">
        <a href="/my/doctors/reservations" class="weui-tabbar__item weui_bar__item_on">
          <img src="/icon_nav_button.png" alt="" class="weui-tabbar__icon">
          <p class="weui-tabbar__label">当前预约</p>
        </a>

        <a href="/posts" class="weui-tabbar__item">
          <img src="/icon_nav_article.png" alt="" class="weui-tabbar__icon">
          <p class="weui-tabbar__label">必读文章</p>
        </a>
        <a href="/my/doctors/index" class="weui-tabbar__item">
          <img src="/icon_nav_cell.png" alt="" class="weui-tabbar__icon">
          <p class="weui-tabbar__label">我</p>
        </a>
      </div>

    </div>
</div>
