<div class="weui-tabbar">
    <a href="/my/patients/reservations" class="weui-tabbar__item weui_bar_item__on">
        <div class="weui-tabbar__icon">
            <img src="/icon_nav_button.png" alt="" class="weui-tabbar__icon">
        </div>
        <p class="weui-tabbar__label">当前预约</p>
    </a>

    <a href="/posts" class="weui-tabbar__item">
        <div class="weui-tabbar__icon">
            <img src="/icon_nav_article.png" alt="" class="weui-tabbar__icon">
        </div>
        <p class="weui-tabbar__label">必读文章</p>
    </a>
    <a href="/my/patients/index" class="weui-tabbar__item">
        <div class="weui-tabbar__icon">
            <img src="/icon_nav_cell.png" alt="" class="weui-tabbar__icon">
        </div>
        <p class="weui-tabbar__label">我</p>
    </a>
</div>
