<div class="tabbar">
  <div class="weui_tab">
      <div class="weui_tab_bd">

          <div class="panel">
            <div class="bd">

              <div class="weui_cells_title">用户后台</div>

              <div class="weui_cells weui_cells_access">
								<a class="weui_cell" href="javascript:;">
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>我的资料</p>
                    </div>
                    <div class="weui_cell_ft">
                    </div>
                </a>
                <a class="weui_cell" href="javascript:;">
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>我的钱包</p>
                    </div>
                    <div class="weui_cell_ft">
                    </div>
                </a>
                <a class="weui_cell" href="javascript:;">
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>我的病例</p>
                    </div>
                    <div class="weui_cell_ft">
                    </div>
                </a>
                <a class="weui_cell" href="javascript:;">
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>我的预约记录</p>
                    </div>
                    <div class="weui_cell_ft">
                    </div>
                </a>
              </div>

            </div>
          </div>

      </div>
      <div class="weui_tabbar">
          <a href="/my/patients/reservations" class="weui_tabbar_item">
              <div class="weui_tabbar_icon">
                  <img src="/icon_nav_button.png" alt="">
              </div>
              <p class="weui_tabbar_label">当前预约</p>
          </a>

          <a href="/posts/index" class="weui_tabbar_item">
              <div class="weui_tabbar_icon">
                  <img src="/icon_nav_article.png" alt="">
              </div>
              <p class="weui_tabbar_label">必读文章</p>
          </a>
          <a href="/my/patients/index" class="weui_tabbar_item weui_bar_item_on">
              <div class="weui_tabbar_icon">
                  <img src="/icon_nav_cell.png" alt="">
              </div>
              <p class="weui_tabbar_label">我</p>
          </a>
      </div>
  </div>
</div>
