<div class="tabbar">
  <div class="weui_tab">
      <div class="weui_tab_bd">

          <div class="panel">
            <div class="bd">
							<%- if @medical_records.any? %>
								<%= render partial: 'medical_record', collection: @medical_records  %>
							<% end %>

    					<a href="/my/patients/medical_records/new" class="weui_btn weui_btn_primary"  data-turbolinks="false">添加病例</a>

            </div>
          </div>

      </div>
      <div class="weui_tabbar">
          <a href="/my/patients/reservations" class="weui_tabbar_item">
              <div class="weui_tabbar_icon">
                  <img src="/icon_nav_button.png" alt="">
              </div>
              <p class="weui_tabbar_label">当前预约</p>
          </a>

          <a href="/posts" class="weui_tabbar_item">
              <div class="weui_tabbar_icon">
                  <img src="/icon_nav_article.png" alt="">
              </div>
              <p class="weui_tabbar_label">必读文章</p>
          </a>
          <a href="/my/patients/index" class="weui_tabbar_item weui_bar_item_on">
              <div class="weui_tabbar_icon">
                  <img src="/icon_nav_cell.png" alt="">
              </div>
              <p class="weui_tabbar_label">我</p>
          </a>
      </div>
  </div>
</div>
