<div class="tabbar">
  <div class="weui-tab">
      <div class="weui-tab__panel">

          <div class="panel">
            <div class="bd">
							<%- if @medical_records.any? %>
								<%= render partial: 'medical_record', collection: @medical_records  %>
							<% end %>

    					<a href="/my/patients/medical_records/new" class="weui-btn weui-btn__primary"  data-turbolinks="false">添加病例</a>

            </div>
          </div>

      </div>

      <%= render 'tab_bar' %>

  </div>
</div>
