<div class="tabbar">
  <div class="weui-tab">

    <div class="weui-tab__panel">
      <div class="panel">

        <!-- banner图 -->
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="/banner1.jpg" alt="">
            </div>
            <div class="swiper-slide">
              <img src="/banner2.jpg" alt="">
            </div>
          </div>
          <div class="swiper-pagination swiper-pagination-bullets">
            <span class="swiper-pagination-bullet"></span>
            <span class="swiper-pagination-bullet"></span>
            <!-- <span class="swiper-pagination-bullet"></span> -->
          </div>
        </div>
        <!-- tab功能栏 -->
        <div class="page grid js_show">
          <div class="weui-grids">
            <a href="/patients/family_members" class="weui-grid">
              <div class="weui-grid__icon">
                <img src="/children.png">
              </div>
              <p class="weui-grid__label">宝宝信息</p>
            </a>
            <a href="products/1" class="weui-grid">
              <div class="weui-grid__icon">
                <img src="/reserve.png" alt="">
              </div>
              <p class="weui-grid__label">立即预约</p>
            </a>
            <a href="/patients/reservations" class="weui-grid">
              <div class="weui-grid__icon">
                <img src="/reservation.png" alt="">
              </div>
              <p class="weui-grid__label">预约列表</p>
            </a>
          </div>
        </div>
        <!-- 产品介绍 -->
        <div class="page__bd">
          <div class="weui-panel weui-panel_access">
            <div class="weui-panel__hd">热门文章</div>
            <div class="weui-panel__bd">
              <a href="https://mp.weixin.qq.com/s?__biz=MzAxMDk4MDgwNw==&mid=2247483765&idx=1&sn=173583476bf9107352749156ae47125b&chksm=9b495dddac3ed4cbecbb6ae3830611236232f3cf0f636512cc4a79897815f4f69309c2345612#rd"
                class="weui-media-box weui-media-box_appmsg">
                <div class="weui-media-box__hd">
                  <img class="weui-media-box__thumb" src="/articles/article1.png" alt="">
                </div>
                <div class="weui-media-box__bd">
                  <h4 class="weui-media-box__title">医生不愿告诉你的事：医院看病找谁好？</h4>
                  <p class="weui-media-box__desc">坊间流传着这样一个故事。曾经有位领导要做手术，托某医院领导帮忙找个水平好的医生....</p>
                </div>
              </a>
              <a href="https://mp.weixin.qq.com/s?__biz=MzAxMDk4MDgwNw==&mid=2247484083&idx=5&sn=2b7997e52ccd77bc5854f20035902430&chksm=9b495e1bac3ed70d1977b12a4eaa2ae281d1356790096ff4b53ab3e7d6ebe4c0ca98d2404c15#rd"
                class="weui-media-box weui-media-box_appmsg">
                <div class="weui-media-box__hd">
                  <img class="weui-media-box__thumb" src="/articles/article2.png" alt="">
                </div>
                <div class="weui-media-box__bd">
                  <h4 class="weui-media-box__title">爱不等于放纵，家长该如何拒绝孩子的请求?</h4>
                  <p class="weui-media-box__desc">好像大家很怕拒绝孩子。为什么呢?是怕孩子的哭声,或者怕影响孩子的安全感,或者怕因此无法给孩子足够的自由...</p>
                </div>
              </a>

              <a href="https://mp.weixin.qq.com/s?__biz=MzAxMDk4MDgwNw==&mid=2247483964&idx=1&sn=290d47980a4e936a7e388ef6ec949bd2&chksm=9b495e94ac3ed7825bcfe0128079da5ad26d7e60dcd52bb64975c4b448472bc02239932618b2#rd"
                class="weui-media-box weui-media-box_appmsg">
                <div class="weui-media-box__hd">
                  <img class="weui-media-box__thumb" src="/articles/article3.png" alt="">
                </div>
                <div class="weui-media-box__bd">
                  <h4 class="weui-media-box__title">给新生宝宝洗澡,真的有那么难吗?</h4>
                  <p class="weui-media-box__desc">大家一直觉得给新生宝宝洗澡是件很简单的事，没必要学习。但前一阵朋友家发生的事还是触动了我，给宝宝洗澡也是门大学问....</p>
                </div>
              </a>

              <a href="https://mp.weixin.qq.com/s?__biz=MzAxMDk4MDgwNw==&mid=2247483964&idx=3&sn=5b937838d252f9cf5d25b78c7ec44afb&chksm=9b495e94ac3ed7824a73f572253f82d3f05297eb309b006aab401a06f90b27701ec2b85ec21e#rd"
                class="weui-media-box weui-media-box_appmsg">
                <div class="weui-media-box__hd">
                  <img class="weui-media-box__thumb" src="/articles/article4.png" alt="">
                </div>
                <div class="weui-media-box__bd">
                  <h4 class="weui-media-box__title">儿童用药5大误区，你还不知道?</h4>
                  <p class="weui-media-box__desc">孩子生病了，如何合理安全地给孩子用药，是家长最犯难的事。一旦用药不当，轻则病情加重，重则致残甚至死亡....</p>
                </div>
              </a>
            </div>
          </div>
          <div class="weui-panel weui-panel_access">
            <div class="weui-panel__hd">关于宝健康</div>
            <div class="weui-panel__bd">
              <a href="https://mp.weixin.qq.com/s?__biz=MzAxMDk4MDgwNw==&mid=2247483830&idx=3&sn=ebb3ca601152bddabe6a6fa80ce8bf25&chksm=9b495d1eac3ed40841a5c271cd96a99aa101b3b56ffb384ebe9a73d3967955ae41e8c32c49cd#rd"
                class="weui-media-box weui-media-box_appmsg">
                <div class="weui-media-box__hd">
                  <img class="weui-media-box__thumb" src="/articles/article5.png" alt="">
                </div>
                <div class="weui-media-box__bd">
                  <h4 class="weui-media-box__title">宝健康儿童医疗服务，让医护上门成为可能</h4>
                </div>
              </a>

              <a href="https://mp.weixin.qq.com/s/JQ9SQ5I_NsQNrllqSoIJfA" class="weui-media-box weui-media-box_appmsg">
                <div class="weui-media-box__hd">
                  <img class="weui-media-box__thumb" src="/articles/article6.png" alt="">
                </div>
                <div class="weui-media-box__bd">
                  <h4 class="weui-media-box__title">儿童看病难？宝健康1小时内把医院搬到你家</h4>
                </div>
              </a>
            </div>
          </div>
          <div class="weui-panel">
            <div class="weui-panel__hd">宝健康服务</div>
            <div class="weui-panel__bd">
              <a href="https://mp.weixin.qq.com/s/cntFvpJR9khYJe9Ew4kMMQ"
                class="weui-media-box weui-media-box_appmsg">
                <div class="weui-media-box__hd">
                  <img class="weui-media-box__thumb" src="/articles/article7.png" alt="">
                </div>
                <div class="weui-media-box__bd">
                  <h4 class="weui-media-box__title">叫个医护团队上门为你服务</h4>
                </div>
              </a>
            </div>
          </div>
        </div>


      </div>
    </div>

    <%=  render 'tab_bar' %>

  </div>
</div>
