<%= render 'base_info' %>

<%= render 'examinations' %>

<%= render 'diagnosis_info' %>

<% if resource.medical_record.present? && resource.medical_record.preliminary_diagnosis.present? && resource.medical_record.treatment_recommendation.present? %>
<div class="weui-btn-area">
  <%= link_to "完成本次咨询", patients_reservation_path(resource, event: 'complete'), remote: true, method: 'PUT', class: "weui-btn weui-btn_primary" %>
</div>
<% end %>
