<%= render 'base_info' %>

<%= render 'examinations' %>

<%= render 'diagnosis_info' %>

<div class="weui-btn-area">
  <%= link_to "去支付", wx_payment_path(reservation_id: resource), class: "weui-btn weui-btn_primary" %>
</div>
