<%= render 'base_info' %>

<%= render 'examinations' %>

<div class="weui-btn-area">
  <%= link_to "联系医生", "", class: "weui-btn weui-btn_primary" %>
  <a href="tel:4000719136" class="weui-btn weui-btn_default">拨打客服电话</a>
</div>
