<div class="weui-msg">
    <div class="weui-msg__icon-area"><i class="weui-icon-info weui-icon_msg"></i></div>
    <div class="weui-msg__text-area">
        <h2 class="weui-msg__title">反馈</h2>
        <p class="weui-msg__desc">您可以去微信公众号的文本框给我们回复消息，工作人员会在第一时间内给你回复，您也可以直接拨打我们的400客服电话</p>
    </div>
    <div class="weui-msg__opr-area">
        <p class="weui-btn-area">
          <a href="javascript:window.close" class="weui-btn weui-btn_primary">去公众号文本框发消息</a>
          <a href="tel:4000719136" class="weui-btn weui-btn_default">拨打400客服电话</a>
        </p>
    </div>
</div>
