<% content_for :title, "知情同意书" %>
<article class="weui-article">
    <h1>宝健康儿科医生用户知情同意书</h1>
    <section>
      协议”是由用户（您）与武汉守正科技有限公司（简称“宝健康”）所订立的有关武汉守正科技有限公司提供的“宝健康”微信服务号，服务的权利义务的规范。本协议对双方均具有法律约束力，适用于“宝健康”服务，包括您使用的各项服务和软件的升级、调整或更新。若您开始使用“宝健康”则表示您同意接受本协议的一切条款，并愿意受本协议的约束。
        <h2 class="title">1.服务简介</h2>
        <section>
            <p>
              “宝健康”的主题是线下咨询和随访，由武汉守正科技有限公司（简称“宝健康”）提供技术支持和信息存储空间平台。
              您可通过扫描二维码或直接搜索微信服务号关注“宝健康”。您使用“宝健康”须自行配备相关设备，并自行负担相关的
              设备费用。
            </p>
        </section>
        <h2 class="title">2.用户使用规则</h2>
        <section>
            <h3>2.1 用户注册资料</h3>
            <p>
                用户应保证注册身份信息的真实性、正确性及完整性。如果注册信息发生变化，用户应及时更改，否则由此所造成的
                一切损失由用户自行承担，武汉守正科技有限公司（简称“宝健康”）对此不承担任何责任。如果武汉守正科技有限公
                司（简称“宝健康”）确认或合理怀疑您所提供的资料错误、虚假、侵犯任何第三方合法权益、违法违规等，武汉守正
                科技有限公司（简称“宝健康”）有权终止您的帐号，并拒绝您使用本服务。
            </p>
        </section>
        <section>
            <h3>2.2 用户内容范围</h3>
            <p>
              用户依据本协议向医生线下咨询或接受医生随访，除此之外均不在本服务的范围之内。除非与武汉守正科技有限公司（简称“宝健康”）另签协议（会员协议），用户同意本服务仅供个人非商业性质的使用。用户承诺未经武汉守正科技有限公司（简称“宝健康”）事先书面同意，不得利用本服务进行广告、销售、商业展示等商业性用途。
            </p>
        </section>
        <section>
            <h3>2.3 用户行为规范</h3>
            <p>
              2.3.1 武汉守正科技有限公司（简称“宝健康”）是医患线下咨询和随访的平台，用户应当充分了解拟咨询医生的个人信息及工作日程详情并按照要求格式化提交咨询内容，以及确保咨询内容的准确和上传图片的清晰，否则导致用户损失，武汉守正科技有限公司（简称“宝健康”）不承担任何责任。
            </p>
            <p>
              2.3.2 用户不得利用“宝健康”发布含有如下内容的信息：
            </p>
            <div class="list" style="margin-left:30px">
              <ol>
                <li>带有威胁、淫秽、漫骂、非法及带有人身攻击之言论</li>
                <li>具有医托、广告性质</li>
                <li>含有色情、暴力、恐怖内容</li>
                <li>含有违背伦理道德内容</li>
                <li>具有恶意、无聊和灌水性质</li>
                <li>涉及违法犯罪的内容</li>
                <li>其他武汉守正科技有限公司（简称“宝健康”）认为不恰当的情况</li>
              </lo>
            </div>
            <p>
              武汉守正科技有限公司（简称“宝健康”）有权对用户提交的内容进行过滤，任何存在含有上述内容的图片或文字，一经发现，武汉守正科技有限公司（简称“宝健康”）有权立即将其删除、屏蔽，情节严重的，武汉守正科技有限公司（简称“宝健康”）有权暂时性封存或永久性删除用户注册账户且无需另行通知。
            </p>
            <p>
              2.3.3 用户不得利用武汉守正科技有限公司（简称“宝健康”）开展违法活动，不得故意制作、传播计算机病毒等破坏性程序的行为，不得针对武汉守正科技有限公司（简称“宝健康”）与武汉守正科技有限公司（简称“宝健康”）连接的服务器或网络制造干扰、混乱，不得以非法目的使用用户信息等，否则武汉守正科技有限公司（简称“宝健康”）将保留追究其法律责任的权利并有权将其提交给相关部门处理。
            </p>
        </section>
        <h2 class="title">3.武汉守正科技有限公司（简称“宝健康”）权利及责任</h2>
        <section>
            <h3>3.1 知识产权及其他权利</h3>
            <p>
              武汉守正科技有限公司（简称“宝健康”）为“宝健康”服务而提供的软件、域名、文字、图片、标识或商标、网页设计、活动策划等内容，均归属于武汉守正科技有限公司（简称“宝健康”）独家所有并拥有所有相关权利。用户只能在本协议规定的范围内使用，而不能擅自复制、修改、再造这些内容或创造与内容有关的派生产品。
            </p>
        </section>
        <section>
          <h3>3.2 “宝健康”</h3>
          <p>
            武汉守正科技有限公司（简称“宝健康”）为“宝健康”软件的独家合法所有人，拥有完整的知识产权。武汉守正科技有限公司（简称“宝健康”）在此授予您个人非独家、不可转让、可撤销的，并通过一个“宝健康”注册账户且在一部拥有所有权或使用权的手机上使用“宝健康”软件的权利，且该使用仅限于个人非商业性使用之合法目的。武汉守正科技有限公司（简称“宝健康”）有权对“宝健康”软件进行不时的修订、扩展、升级等更新措施，而无需提前通知用户，但您有权选择是否使用更新后的软件。
          </p>
          <p>
            您应当保证合法使用“宝健康”软件，任何用户不得对该软件进行如下违法行为：
          </p>
          <div class="list" style="margin-left:30px">
            <ol>
              <li>开展反向工程、反向编译或反汇编，或以其他方式发现其原始编码，以及实施任何涉嫌侵害著作权的行为；</li>
              <li>以出租、租赁、销售、转授权、分配或其他任何方式向第三方转让“宝健康”软件或利用“宝健康”软件为任何第三方提供与本协议规定的相似服务；</li>
              <li>任何复制“宝健康”软件的行为；</li>
              <li>以移除、规避、破坏、损害或其他任何方式干扰“宝健康”软件的安全功能；</li>
              <li>以不正当手段取消“宝健康”软件上权利声明或权利通知的；</li>
              <li>其他违反法律规定的行为。</li>
            </lo>
          </div>
        </section>
        <h2 class="title">4.隐私条款</h2>
        <section>
          <p>
            武汉守正科技有限公司（简称“宝健康”）有权将您的部分信息如性别、年龄、病症、就诊医生、用药、手术、治疗情况、咨询内容等显示在“宝健康”，以供其他病友参考，且武汉守正科技有限公司（简称“宝健康”）有权对该些信息无条件使用。但对用户的基本个人信息如头像、姓名、身份证号码、手机号码、病历图片等所有涉及到个人信息的内容均给予严格保护，均不会显示给其他用户，包括非咨询医生。
          </p>
        </section>
        <h2 class="title">5.免责声明</h2>
        <section>
          <div class="list" style="margin-left:30px">
            <ol>
              <li>“宝健康”中咨询提供者均为临床执业医师或其他临床辅助科室医技人员，咨询建议仅为依据用户描述而提供的建议性内容，不能替代面对面诊断。是否采用为用户个人行为，武汉守正科技有限公司（简称“宝健康”）及咨询提供者不承担任何可能产生的责任。“宝健康”提供的资讯仅供参考，不能替代医生的建议，不做个别诊断及用药根据，不保证信息的正确性和完整性，且不对因信息的不正确或遗漏导致的任何损失或损害承担责任。所有医生日程仅供参考，最终以医院当日公布为准。武汉守正科技有限公司（简称“宝健康”）保留对本声明作出不定时修改的权利。</li>
              <li>武汉守正科技有限公司（简称“宝健康”）拒绝回复医疗健康之外的咨询问题，包括但不限于如下情况：1）非医疗健康类问题；2）医疗司法举证或询证问题；3）胎儿性别鉴定问题；4）有危害他人/自己可能的问题；5）追问医生个人信息的问题；6）故意挑逗、侮辱医生的提问。</li>
              <li>用户完全理解并同意，本服务涉及互联网及移动通讯，可能会受到各个环节不稳定因素的影响。因此任何因不可抗力、计算机病毒或黑客攻击、系统不稳定、用户所在位置、用户关机、互联网络、通信线路原因等造成的服务中断，或可能造成服务取消或终止的风险（用户在本服务中储存的任何信息可能无法恢复），使用本服务的用户须自行承担以上风险，“宝健康”对服务之及时性、安全性、准确性不做任何保证，对因此导致用户不能发送和接受消息、或传递错误、未予存储或其他问题不承担任何责任。对于不可抗力或非武汉守正科技有限公司（简称“宝健康”）过错原因导致的用户数据损失、丢失或服务停止，武汉守正科技有限公司（简称“宝健康”）不承担任何责任。对于系统发生故障影响到本服务的正常运行，武汉守正科技有限公司（简称“宝健康”）承诺一经发现便及时处理、进行修复。但用户因此而产生的经济和精神损失，武汉守正科技有限公司（简称“宝健康”）不承担责任。此外，武汉守正科技有限公司（简称“宝健康”）保留不经事先通知为维修保养、升级或其他目的暂停提供本服务一部分或全部的权利。</li>
              <li>您通过本服务收到广告信息的，进而与广告商进行任何形式的商业往来，或参与促销活动，包含相关商品或服务之付款及交付，以及达成的其他任何相关条款、条件、保证或声明，完全为用户与广告商之间之行为，与武汉守正科技有限公司（简称“宝健康”）无关，武汉守正科技有限公司（简称“宝健康”）对此不承担任何责任。</li>
            </lo>
          </div>
        </section>
        <h2 class="title">6.知识产权及其他权利</h2>
        <section>
          <div class="list" style="margin-left:30px">
            <ol>
              <li>用户一旦接受本协议，即表明该用户主动将其在任何时间段在“宝健康”发表的任何形式的信息内容的财产性权利等任何可转让的权利，如著作权财产权，全部独家且不可撤销地转让给武汉守正科技有限公司（简称“宝健康”）所有，用户同意武汉守正科技有限公司（简称“宝健康”）有权就任何主体侵权而单独提起诉讼。</li>
              <li>用户同意并已充分了解本协议的条款，承诺不将已发表于“宝健康”的信息，以任何形式发布或授权其它主体以任何方式使用（包括但不限于在各类网站、媒体上使用）。</li>
              <li>武汉守正科技有限公司（简称“宝健康”）是“宝健康”的制作者，拥有“宝健康”内容及资源的著作权等合法权利，受国家法律保护，有权不时地对本协议及“宝健康”的内容进行修改，并在“宝健康”公告，无须另行通知用户。在法律允许的最大限度范围内，武汉守正科技有限公司（简称“宝健康”）对本协议及“宝健康”内容拥有解释权。</li>
              <li>除法律另有强制性规定外，未经武汉守正科技有限公司（简称“宝健康”）明确的特别书面许可，任何单位或个人不得以任何方式非法地全部或部分复制、转载、引用、链接、抓取或以其他方式使用“宝健康”的信息内容，否则，武汉守正科技有限公司（简称“宝健康”）有权追究其法律责任。</li>
              <li>“宝健康”所刊登的资料信息、内容汇编、软件均是武汉守正科技有限公司（简称“宝健康”）或其关联方的财产，受中国和国际版权法的保护。</li>
            </lo>
          </div>
        </section>
        <h2 class="title">7.争议解决</h2>
        <section>
          <p>
            本协议之效力和解释均适用中华人民共和国之法律。如协议之任何一部分与中华人民共和国法律相抵触，则该部分条款应按法律规定重新解释，部分条款之无效或重新解释不影响其它条款之法律效力。用户和武汉守正科技有限公司（简称“宝健康”）一致同意凡因本服务所产生的纠纷双方应协商解决，协商不成任何一方可提交武汉守正科技有限公司（简称“宝健康”）所在地法院诉讼解决。
          </p>
        </section>
        <h2 class="title">8.转让</h2>
        <section>
          <p>
            用户了解并同意，在任何情况下，本协议所赋予您的权利和义务均由您个人享有或承担，未经武汉守正科技有限公司（简称“宝健康”）同意，不得转让给任何第三人；武汉守正科技有限公司（简称“宝健康”）有权经通知将本协议项下的权利义务一并或部分转让给任何第三人，而无需取得您的事先许可。
          </p>
        </section>
        <h2 class="title">9.协议的调整或更新</h2>
        <section>
          <p>
            武汉守正科技有限公司（简称“宝健康”）有权对本协议进行随时调整或更新。如果对变更后的协议有异议，您可以停止对“宝健康”的使用，如果您选择继续使用该服务，则视为已接受本协议的所有调整或更新。
          </p>
        </section>
        <h2 class="title">10.条款解释权</h2>
        <section>
          <p>
            武汉守正科技有限公司（简称“宝健康”）拥有对本协议的最终解释权。用户对服务之任何部分或本协议的任何部分之意见及建议可通过“宝健康”与武汉守正科技有限公司（简称“宝健康”）联系。
          </p>
        </section>
        <h2 class="title">11.关于医生</h2>
        <section>
          <div class="list" style="margin-left:30px">
            <ol>
              <li>当您注册成为本“宝健康”台的用户后，即应遵守本平台的规则，服从本平台的管理。具体要求见产品服务手册。</li>
              <li>作为医生用户，您知晓并认可本公司所提供的预约线下咨询业务，您有义务向您的病人告知本平台的服务流程、付费流程。如需与第三方公司合作并提供服务，您有义务向病人充分解释、取得病人授权，同意本公司为病人就本次预约、转诊及手术投保人身保险。</li>
              <li>您通过“宝健康”平台发表的各种言论，包括各种医学知识和针对特定患者的回复等，均系您的个人行为，不代表本公司赞同其观点或证实其内容的真实性，因该言论而产生的后果，本公司不承担责任。</li>
              <li>您在“宝健康”平台发布的一切消息、文章、言论应当遵守医疗伦理和法律规定，并应当符合社会道德。 如果发现您的言论有不符合上述规定的内容，本平台有权利给予屏蔽或删除，并保留对不符合规定言论进行处理而不通知发布者的权利。</li>
              <li>医生用户应当注意，您通过“宝健康”平台获取的特定病人的疾病信息、咨询、诊疗建议等信息，属于该病人的个人隐私，非经病人本人同意或法定程序，不得向本平台外的任何第三人泄露包含该病人个人隐私的上述信息。</li>
              <li>医生用户应当注意通过“宝健康”平台获取的特定咨询用户。为了获得用户的良好的体验，您将保证首次咨询用户的时间不低于10-20分钟。并要求完善个人电子健康档案，便于后续跟踪服务。</li>
              <li>医生用户还需站在用户的角度决策用药与检查的决策，我们会为医生和用户提供基础用药和基础检查清单，根据用户实际病情做出合情合理判断。还请医生尽量选择清单内容决策。</li>
              <li>医生用户还需明白疾病的变化无常，我们给予用户七天一个咨询周期多次咨询服务。（也许线下，也许线上）适当时情况做出合理安排。</li>
            </lo>
          </div>
        </section>
        <h2 class="title">12.关于用户</h2>
        <section>
          <div class="list" style="margin-left:30px">
            <ol>
              <li>“宝健康”平台主要是为有儿童健康需求的家长提供预约同城线上线下咨询服务。因此如果您是一名用户家长，打算通过本平台预约同城线上线下咨询服务时，请首先考虑您的看病需求。具体服务内容见产品服务手册。</li>
              <li>当您决定通过“宝健康”平台预约咨询时，请您提交基本信息的同时描述患者的不适情况或者请您按时间顺序、先门诊后住院病历的顺序拍照后依次提交。为便于医生阅读，请确保照片清晰。实验室、影像学片子报告都可拍摄后直接提交到“宝健康”平台的个人电子健康档案。</li>
              <li>当您通过本“宝健康”台预约成功以后，意味着您成为本平台的用户，将自愿遵守本平台的规则，并服从于本平台的统一管理。</li>
              <li>当您预约同城线上线下咨询成功以后，接待您的医生是在本平台上已实名注册的医生团队，也一并开通网上转诊服务。预约医护上门后医护团队可能为您安排一次线下医护上门咨询。当您有转诊服务需求后或者如需进一步预约住院或者手术，可通过“宝健康”签约医生预约，也可直接向本平台发出预约的请求。我们收到请求后我们团队会第一时间与你确认解决方案。</li>
              <li>“宝健康”平台特别提醒您， 鉴于国内医疗和保险市场的发展，当您成为“宝健康”平台会员，足额缴纳年会员费后。所提出预约、转诊手术或者其它请求时，本公司可能与第三方保险公司或者其它医疗服务公司合作，代您就本次预约、转诊及手术投保人身保险或者其它服务支付服务费用。为此，您同意本公司与第三方保险或者其它医疗服务公司合作，并授权本公司就此次预约、转诊及手术投保人身保险。当你通过本平台支付了年会员费之后，将不用再向本公司支付相关会员服务费用。但是每次医生咨询另外计算，不包括在会员费里面。超出部分还需最终与您确认。</li>
              <li>作为病人，您知晓且同意，通过“宝健康”平台，医生为您提供的咨询建议及延伸到线下的诊疗包括手术或者其它医疗服务，均系医生与您之间的独立行为，无论是医疗行为的具体内容还是医疗费用的收取，本平台不参与、不干预。本平台不能保证疗效，对可能发生的诊疗效果、医疗损害或医疗费用争议，您不应当向本平台提出主张。</li>
            </lo>
          </div>
        </section>
    </section>
</article>
