<%= render 'base_info' %>

<%= render 'examinations' %>

<%= render 'diagnosis_info' %>

<div class="weui-btn-area">
  <% unless resource.doctor_has_rated? %>
    <%= link_to '去评价', new_doctors_rating_path(reservation_id: resource), class: 'weui-btn weui-btn_primary'  %>
  <% end %>
</div>
