<!-- <div class="navbar">
	<div class="bd" style="height: 100%;">
	    <div class="weui-tab">
	        <div class="weui_navbar">
	            <div class="weui_navbar_item">
	                已支付定金
	            </div>
	            <div class="weui_navbar_item">
	                待支付定金
	            </div>
	            <div class="weui_navbar_item weui_bar_item__on">
	                已完成
	            </div>
	        </div>
	        <div class="weui-tab__panel">

	        </div>
	    </div>
	</div>
</div> -->

<div class="tabbar">
  <div class="weui-tab">
      <div class="weui-tab__panel">

          <div class="panel">
            <div class="bd">
              <div class="weui-panel__bd">
                <div class="weui-cells">
                  <% if @reservations.any? %>
                    <% @reservations.each do |re| %>
                      <%= render 'entry', res: re %>
                    <% end  %>
                  <% else %>
                    你暂时没有预约
                  <% end %>
                </div>
              </div>
            </div>
          </div>

      </div>

      <%= render 'tab_bar' %>

    </div>
</div>
