// Place all the styles related to the admin/medical_records controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.medical_record_onset_date{
  label{
    display: block;
  }
  select {
    width: 30%;
    display: inline-block;
  }
}


.uploader-container{
  ul,li{
    list-style: none;
  }
  ul{
    margin-bottom: 20px;
  }
  li{
    margin-botton: 0;
    padding: 0;
  }
  ul#laboratory_examination_images, ul#imaging_examination_images, ul#medical_record_images{
    padding: 0;
    li.photo{
      width: 12.666667%;
    }
  }
}

.admin_medical_records_show .content{
  ul,li{
    list-style: none;
  }
  li{
    float: left;
    padding-right: 10px;
  }
  ul{
    display: block;
    padding-left: 0;
  }
}
