<div class="weui-btn-area">
  <a class="weui-btn weui-btn__primary" href="/reservations/new?type=online">电话咨询</a>
  <a class="weui-btn weui-btn__primary" href="/reservations/new?type=offline">线下咨询</a>
</div>


<%= content_for :css do %>
	<%= stylesheet_link_tag :bootstrap_fontawesome %>
<% end %>

<%- content_for :js  do %>
<% end %>
