<div class="weui-btn-area">
  <%= link_to "电话咨询", new_reservation_path(type: "online", user_c: params[:user_c]), class: "weui-btn weui-btn__primary" %>
  <%= link_to "见面咨询", new_reservation_path(type: "offline", user_c: params[:user_c]), class: "weui-btn weui-btn__primary" %>
</div>


<%= content_for :css do %>
	<%= stylesheet_link_tag :bootstrap_fontawesome %>
<% end %>

<%- content_for :js  do %>
<% end %>
