<div class="panel">
  <div class="hd">
    <h1 class="page_title">公共池列表</h1>
  </div>

  <div class="bd">

    <% @reservations.each do |res| %>
      <div class="weui_panel">
        <%- if current_user && current_user.is_doctor? %>
          <%= render 'item_for_doctor', res: res %>
        <% else %>
          <%= render 'item_for_patient', res: res %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>