<div class="weui-tabbar">
  <a href="/patients/reservations" class="weui-tabbar__item">
    <img src="/reservation-tabbar.png" alt="" class="weui-tabbar__icon">
    <p class="weui-tabbar__label">当前预约</p>
  </a>

  <a href="/" class="weui-tabbar__item">
    <img src="/home-tabbar.png" alt="" class="weui-tabbar__icon">
    <p class="weui-tabbar__label">首页</p>
  </a>
  <a href="/patients/index" class="weui-tabbar__item weui_bar__item_on">
    <img src="/personal-center-tabbar-active.png" alt="" class="weui-tabbar__icon">
    <p class="weui-tabbar__label">个人中心</p>
  </a>
</div>
