<div class="page msg_success js_show">
  <div class="weui-msg">
    <div class="weui-msg__icon-area">
      <i class="weui-icon-warn weui-icon_msg"></i>
    </div>
    <div class="weui-msg__text-area">
      <h2 class="weui-msg__title">被拒绝</h2>
      <p class="weui-msg__desc">需要填写一些个人信息，并且审核通过后才能加入宝健康, 有问题请拨打电话
      </p>
    </div>
    <div class="weui-msg__opr-area">
      <p class="weui-btn-area">
        <a href="/doctors/new" class="weui-btn weui-btn_primary">申请加入</a>
        <a href="tel:4000719136" class="weui-btn weui-btn_primary">拨打客服电话</a>
      </p>
    </div>
  </div>
</div>

