<div class="page msg_success js_show">
  <div class="weui-msg">
    <div class="weui-msg__icon-area">
      <i class="weui-icon-waiting weui-icon_msg"></i>
    </div>
    <div class="weui-msg__text-area">
      <h2 class="weui-msg__title">等待审核</h2>
      <p class="weui-msg__desc">您提交的个人信息等待审核, 有问题请拨打电话
      </p>
    </div>
    <div class="weui-msg__opr-area">
      <p class="weui-btn-area">
        <a href="tel:4000719136" class="weui-btn weui-btn_primary">拨打客服电话</a>
      </p>
    </div>
  </div>
</div>
