<div class="msg">
    <div class="weui-msg">
        <div class="weui-msg__icon-area"><i class="weui-icon-waiting weui-icon_msg"></i></div>
        <div class="weui_text_area">
            <h2 class="weui-msg__title">请耐心等待</h2>
            <p class="weui-msg__desc">请耐心等待医生联系你，如果等待时间过长，你可以直接打我们的客服电话，我们会帮你协调医生</p>
        </div>
        <div class="weui-msg__opr-area">
            <p class="weui-btn-area">
							<a href="tel:4000719136" class="weui-btn weui-btn__primary">拨打客服电话</a>
							<a href="javascript: IM.cancel(<%= resource.id %>)" class="weui-btn weui-btn_warn">取消预约</a>
            </p>
        </div>
        <div class="weui-msg__extra-area">
            <a href="">帮助</a>
        </div>
    </div>
</div>
