<div class="msg">
    <div class="weui_msg">
        <div class="weui_icon_area"><i class="weui_icon_info weui_icon_msg"></i></div>
        <div class="weui_text_area">
            <h2 class="weui_msg_title">请耐心等待</h2>
            <p class="weui_msg_desc">请耐心等待医生联系你，如果等待时间过长，你可以直接打我们的客服电话，我们会帮你协调医生</p>
        </div>
        <div class="weui_opr_area">
            <p class="weui_btn_area">
							<a href="tel:4000719136" class="weui_btn weui_btn_primary">拨打客服电话</a>
							<a href="javascript: IM.cancel(<%= resource.id %>)" class="weui_btn weui_btn_warn">取消预约</a>
            </p>
        </div>
        <div class="weui_extra_area">
            <a href="">帮助</a>
        </div>
    </div>
</div>
