<div class="tabbar">
  <div class="weui_tab">
      <div class="weui_tab_bd">

          <div class="panel">
            <div class="bd">
              <% if @reservations.any? %>
                <% @reservations.each do |re| %>
                  <%= render 'entry', res: re %>
                <% end  %>
              <% else %>
                你暂时没有预约
              <% end %>
            </div>
          </div>

      </div>
      <%= render 'footer_navbar' %>
    </div>
</div>
