<div class="weui-cells__title">申请成为医生</div>
<div class="weui-cells weui-cells__access">
    <a class="weui-cell" href="/doctors/new?part=basic" data-turbolinks="false">
      <div class="weui-cell__bd weui-cell_primary">
          <p>填写基本信息</p>
      </div>
      <div class="weui-cell__ft">
      </div>
    </a>
    <a class="weui-cell" href="/doctors/new?part=career" data-turbolinks="false">
      <div class="weui-cell__bd weui-cell_primary">
          <p>填写从业信息</p>
      </div>
      <div class="weui-cell__ft">
      </div>
    </a>
</div>
