<div class="weui_cells_title">申请成为医生</div>
<div class="weui_cells weui_cells_access">
    <a class="weui_cell" href="/doctors/new?part=basic">
      <div class="weui_cell_bd weui_cell_primary">
          <p>填写基本信息</p>
      </div>
      <div class="weui_cell_ft">
      </div>
    </a>
    <a class="weui_cell" href="/doctors/new?part=career">
      <div class="weui_cell_bd weui_cell_primary">
          <p>填写从业信息</p>
      </div>
      <div class="weui_cell_ft">
      </div>
    </a>
</div>
