<div class="page grid js_show">
  <div class="page__hd">
      <h1 class="page__title">医生</h1>
      <p class="page__desc">这里都是我们合作的医生</p>
  </div>
  <div class="weui-grids">
    <% collection.each do |d| %>
      <%= link_to doctor_path(d), class: "weui-grid" do %>
          <div class="weui-grid__icon">
            <%= image_tag d.user.avatar, size: '60x60' %>
          </div>
          <p class="weui-grid__label"><%= d.name %></p>
      <% end %>
    <% end %>
  </div>
</div>
