<div class="msg">
    <div class="weui-msg">
        <div class="weui-msg__icon-area"><i class="weui-icon-waiting weui-icon_msg"></i></div>
        <div class="weui_text_area">
            <h2 class="weui-msg__title">请支付咨询费用</h2>
            <p class="weui-msg__desc">请支付本次咨询费用. 测试阶段只要0.01元</p>
            <p class="weui-msg__desc">。。。。。。。。。。</p>
        </div>
        <div class="weui-msg__opr-area">
            <p class="weui-btn-area">
              <a href="javascript:void(0)" class="weui-btn weui-btn_primary" id="wechatPaymentBtn">支付定金(0.01元)</a>
              <a href="tel:4000719136" class="weui-btn weui-btn_default">拨打客服电话</a>
            </p>
        </div>
        <div class="weui-msg__extra-area">
            <a href="">帮助</a>
        </div>
    </div>
</div>
