<!-- <div id="topbar">
  <div class="topbar-left">
    <ol class="breadcrumb">
      <li class="crumb-active"><a href="tables.html">登记</a></li>
      <li class="crumb-icon"><a href="dashboard.html"><span class="glyphicon glyphicon-home"></span></a></li>
      <li class="crumb-link"><a href="/admin">Home</a></li>
      <li class="crumb-trail">登记</li>
    </ol>
  </div>
  <div class="topbar-right">
    <div class="dashboard-widget-tray">
      <a href='/admin/people/new' class='btn btn-default'> 新建 </a>
    </div>
  </div>
</div>


<div id="content">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-visible">
        <div class="panel-heading">
          <div class="panel-title hidden-xs"> <span class="glyphicon glyphicon-tasks"></span> 登记</div>
        </div>
        <div class="panel-body pbn">
          
        </div>
      </div>
    </div>
  </div>
</div> -->