<div id="topbar">
  <div class="topbar-right">
    <div class="dashboard-widget-tray">
      <%= link_to '新建病历', new_admin_person_medical_record_path(parent), class: 'btn btn-default' %>
    </div>
  </div>
</div>

<div id="content" class="pt40">
  <div class="timeline-single" id="timeline">
    <div class="timeline-divider mtn">
      <div class="divider-label">2013</div>
    </div>
    <div class="row">
      <div class="col-sm-6 left-column">
        <% collection.each do |record| %>
          <div class="timeline-item">
            <div class="timeline-icon"><span class="glyphicons glyphicons-user text-purple"></span></div>
            <div class="panel">
              <div class="panel-heading">
                <span class="panel-title">
                  <span class="glyphicon glyphicon-comment"></span>
                  <%= link_to '详情', admin_person_medical_record_path(parent, record) %>
                </span>
                <div class="panel-header-menu pull-right mr10 text-muted fs12"> July 30, 2013 </div>
              </div>
              <div class="panel-body">
                <div class="media mt15">
                  <!-- <a class="pull-left" href="#"> <img class="media-object thumbnail thumbnail-sm rounded mw40" src="img/avatars/3.jpg" alt="..."> </a> -->
                  <div class="media-body mb5">
                    <h5 class="media-heading mbn">初步诊断</h5>
                    <p><%= record.preliminary_diagnosis %></p>
                  </div>
                </div>
                <div class="media mt15">
                  <!-- <a class="pull-left" href="#"> <img class="media-object thumbnail thumbnail-sm rounded mw40" src="img/avatars/7.jpg" alt="..."> </a> -->
                  <div class="media-body mb5">
                    <h5 class="media-heading mbn">治疗意见</h5>
                    <p><%= record.treatment_recommendation %></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="timeline-divider">
      <div class="divider-label">2012</div>
    </div>
  </div>
</div>
