<!-- 症状详情 -->
<article class="weui-article">
    <section>
        <p>
            <%= resource.chief_complains %>
        </p>
        <p>
            <% if resource.reservation_images.any? %>
              <% resource.reservation_images.each do |image| %>
                <%= image_tag image.data if image.data.present? %>
              <% end %>
            <% end %>
        </p>
    </section>
</article>

<div class="weui-btn-area">
  <%= link_to "返回", patients_reservation_path(resource), class: "weui-btn weui-btn_primary" %>
</div>
