<div class="tabbar">
  <div class="weui-tab">
      <div class="weui-tab__panel">

          <div class="panel">
            <div class="bd">
              <div class="weui-panel__bd">
                <% if @reservations.any? %>
                  <% @reservations.each do |re| %>
                    <%= render 'entry', res: re %>
                  <% end  %>
                <% else %>
                  你暂时没有预约
                <% end %>
              </div>
            </div>
          </div>

      </div>

      <%= render 'tab_bar' %>

    </div>
</div>
