<%= simple_form_for resource, url: payment_patients_reservation_path(resource), method: 'PUT' do |f| %>

  <div class="weui-cells__title">支付咨询费用</div>

  <div class="weui-cells weui-cells_form">

    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label">支付金额</label>
      </div>
      <div class="weui-cell__bd weui-cell_primary">
        <input class="weui-input" name="reservation[total_fee]" data-parsley-required="true" placeholder="70" type="text" value="25">
      </div>
    </div>

  </div>

  <p class="weui-cells__tips">请向医生咨询需要支付的费用（测试阶段只需25元）</p>

  <div class="weui-btn-area">
    <%= f.button :submit, "确定", class: "weui-btn weui-btn__primary", data: { disable_with: '正在提交...' } %>
  </div>

<% end %>
