<li class="weui-uploader__file" style="background-image:url(<%= f.object.data %>)">
  <%= f.input :data, as: :hidden, wrapper: false %>
  <i class="weui-icon-delete weui-icon_gallery-delete" style="float: right;margin-top: 2px;"></i>
</li>
