<div class="tabbar">
  <div class="weui-tab">
      <div class="weui-tab__panel">

          <div class="panel">
            <div class="bd">
              <div class="weui-cells__title">表单</div>
              <div class="weui-cells weui-cells_form">
                <%= render 'edit_form', url: my_doctors_medical_record_path(resource), method: 'PUT' %>
              </div>
            </div>

            </div>
          </div>

      </div>

      <div class="weui-tabbar">
        <a href="/my/doctors/reservations" class="weui-tabbar__item weui_bar__item_on">
          <img src="/icon_nav_button.png" alt="" class="weui-tabbar__icon">
          <p class="weui-tabbar__label">当前预约</p>
        </a>

        <a href="/posts" class="weui-tabbar__item">
          <img src="/icon_nav_article.png" alt="" class="weui-tabbar__icon">
          <p class="weui-tabbar__label">必读文章</p>
        </a>
        <a href="/my/doctors/index" class="weui-tabbar__item">
          <img src="/icon_nav_cell.png" alt="" class="weui-tabbar__icon">
          <p class="weui-tabbar__label">我</p>
        </a>
      </div>

  </div>
</div>


<%- content_for :js  do %>
  <%= javascript_include_tag :uploader %>
  <script type="text/javascript">
    $(document).on("ready", function(){

      uploader1 = new uploader( 'picker1', '.weui_uploader1', '/global_images.js', 'multiple', 'medical_record_images')
      uploader2 = new uploader( 'picker2', '.weui_uploader2', '/global_images.js', 'multiple', 'laboratory_examination_images')
      uploader3 = new uploader( 'picker3', '.weui_uploader3', '/global_images.js', 'multiple', 'imaging_examination_images')

    })
  </script>
<% end %>
