<div class="weui-tab">
    <div class="weui-navbar">
        <div class="weui-navbar__item weui-bar__item_on">
            基本资料
        </div>
        <div class="weui-navbar__item">
            检查结果
        </div>
        <div class="weui-navbar__item">
            诊断意见
        </div>
    </div>
    <div class="weui-tab__panel">

    </div>
</div>


<div class="tabbar">
  <div class="weui-tab">
      <div class="weui-tab__panel">

          <div class="panel">
            <div class="bd">
              <div class="weui-cells__title">表单</div>
              <div class="weui-cells weui-cells_form">
                <%= render 'form', url: my_doctors_medical_records_path, method: 'POST' %>
              </div>
            </div>

            </div>
          </div>

      </div>

      <div class="weui-tabbar">
        <a href="/my/doctors/reservations" class="weui-tabbar__item weui_bar__item_on">
          <img src="/icon_nav_button.png" alt="" class="weui-tabbar__icon">
          <p class="weui-tabbar__label">当前预约</p>
        </a>

        <a href="/posts" class="weui-tabbar__item">
          <img src="/icon_nav_article.png" alt="" class="weui-tabbar__icon">
          <p class="weui-tabbar__label">必读文章</p>
        </a>
        <a href="/my/doctors/index" class="weui-tabbar__item">
          <img src="/icon_nav_cell.png" alt="" class="weui-tabbar__icon">
          <p class="weui-tabbar__label">我</p>
        </a>
      </div>
  </div>
</div>


<%- content_for :js  do %>
  <%= javascript_include_tag :uploader %>
  <script type="text/javascript">
    $(document).on("ready", function(){

      uploader1 = new uploader( 'picker1', '.weui_uploader1', '/global_images.js', 'multiple', 'laboratory_examination_images')
      uploader2 = new uploader( 'picker2', '.weui_uploader2', '/global_images.js', 'multiple', 'imaging_examination_images')


    })
  </script>
<% end %>
