<div class="tabbar">
  <div class="weui-tab">
      <div class="weui-tab__panel">

          <div class="panel">
            <div class="bd">
              <div class="weui-cells__title">表单</div>
              <div class="weui-cells weui-cells_form">
                <%= render 'edit_form', url: patients_medical_record_path(resource), method: 'PUT' %>
              </div>
            </div>

            </div>
          </div>

      </div>

      <%= render 'tab_bar' %>

  </div>
</div>

<%- content_for :js  do %>
  <%= javascript_include_tag :uploader %>
  <%= render 'uploader_js' %>
  <script type="text/javascript">
  $(function(){
    autosize(document.querySelectorAll('textarea'));
  })
  </script>
<% end %>
