<div class="tabbar">
  <div class="weui-tab">
      <div class="weui-tab__panel">

          <div class="panel">
            <div class="bd">
              <div class="weui-cells__title">表单</div>
              <div class="weui-cells weui-cells_form">
                <%= render 'new_form', url: patients_medical_records_path, method: 'POST' %>
              </div>
            </div>
            </div>
          </div>

      </div>

      <%= render 'tab_bar' %>

  </div>
</div>

<%- content_for :js  do %>
  <script type="text/javascript">
  $(function(){
    // autosize(document.querySelectorAll('textarea'));
    $(document).on('click', '.weui-navbar__item', function (e) {
      $(this).addClass('weui-bar__item_on').siblings('.weui-bar__item_on').removeClass('weui-bar__item_on');

      index = $('.weui-navbar__item').index($(e.target))
      console.log(index);
      $('.tab-content').not('.tab'+ (index+1)).hide();
      $('.tab'+ (index+1)).show()
    });


  })
  </script>
<% end %>
