<div class="tabbar">
	<div class="weui-tab">
		<div class="weui-tab__panel">

			<div class="panel">
				<div class="bd">

					<div class="article">
						<div class="hd">
						    <h1 class="page_title"><%= resource.title %></h1>
						</div>
						<div class="bd">
						    <article class="weui_article">
						      <%= raw resource.body %>
						    </article>
						</div>
					</div>
				</div>
			</div>

		</div>

		<div class="weui-tabbar">

			<% if current_user.is_verified_doctor? %>
			<a href="/doctors/reservations" class="weui-tabbar__item">
				<img src="/icon_nav_button.png" alt="" class="weui-tabbar__icon">
				<p class="weui-tabbar__label">我的预约</p>
			</a>
			<a href="/posts" class="weui-tabbar__item weui_bar_item__on">
				<img src="/icon_nav_article.png" alt="" class="weui-tabbar__icon">
				<p class="weui-tabbar__label">首页</p>
			</a>
			<a href="/doctors/" class="weui-tabbar__item">
				<img src="/icon_nav_cell.png" alt="" class="weui-tabbar__icon">
				<p class="weui-tabbar__label">我</p>
			</a>
		<% else %>
			<a href="/patients/reservations" class="weui-tabbar__item">
				<img src="/icon_nav_button.png" alt="" class="weui-tabbar__icon">
				<p class="weui-tabbar__label">我的预约</p>
			</a>
			<a href="/posts" class="weui-tabbar__item weui_bar_item__on">
				<img src="/icon_nav_article.png" alt="" class="weui-tabbar__icon">
				<p class="weui-tabbar__label">首页</p>
			</a>
			<a href="/patients/" class="weui-tabbar__item">
				<img src="/icon_nav_cell.png" alt="" class="weui-tabbar__icon">
				<p class="weui-tabbar__label">我</p>
			</a>
			<% end %>
		</div>
	</div>
</div>
