<div class="weui-msg">
  <%= simple_form_for Transaction.new, url: my_doctors_transactions_path, html: { method: 'POST' } do |f| %>
    <div class="weui-msg__icon-area">
      <span>可提现金额(元)</span>
      <i class="weui-icon_msg">
        <%= current_user.wallet.balance_withdrawable.to_f %>
      </i>
    </div>
    <div class="weui-msg__text-area left">
        <p class="weui-msg__desc">你想提现多少呢?</p>
        <h2 class="weui-msg__title"></h2>
          <div class="weui-cells">
            <div class="weui-cell">
              <div class="weui-cell__bd">
                <input class="weui-input" type="text" name="transaction[amount]" placeholder="请输入金额">
              </div>
            </div>
          </div>
    </div>

    <div class="weui-msg__opr-area">
      <p class="weui-btn-area">
        <button type="submit" class="weui-btn weui-btn__primary btn-submit">提现</button>
      </p>
    </div>
  <% end %>
    <div class="weui-msg__extra-area">
        <div class="weui-footer">
            <p class="weui-footer__links">
              <a href="javascript:void(0);" class="weui-footer__link">帮助</a>
            </p>
        </div>
    </div>
</div>
