<div class='weui_loading_toast' id='loadingToast' style='display: none;'>
  <div class='weui-mask_transparent'></div>
  <div class='weui-toast'>
    <i class='weui-loading weui-icon-toast'></i>
    <p class='weui-toast__content'>请稍等....</p>
  </div>
</div>
