<div class="tabbar">
  <div class="weui-tab">

    <div class="weui-tab__panel">
      <div class="panel">
        <div class="page__hd">
          <h1 class="page__title">服务介绍页面</h1>
          <p class="page__desc">这里是服务介绍页面啊</p>
        </div>


        <div class="page__bd">
          <p> 电话咨询 </p>
          <p> 描述下电话咨询
            <div class="weui-msg__opr-area">
              <p class="weui-btn-area">
                <a class="weui-btn weui-btn_primary" href="/reservations/new">立即预约</a>
              </p>
            </div>
        </div>
      </div>

    <%=  render 'patients/tab_bar' %>

  </div>
</div>
