<div class="tabbar">
  <div class="weui-tab">

    <div class="weui-tab__panel">
      <div class="panel">
        <div class="page__hd">
          <h1 class="page__title">服务介绍页面</h1>
          <p class="page__desc">这里是服务介绍页面啊</p>
        </div>


        <div class="page__bd">
          <p> 见面咨询咨询 </p>
          <p> 描述下见面咨询
            <div class="weui-msg__opr-area">
              <p class="weui-btn-area">
                <%= link_to "立即预约", new_reservation_path(member_id: params[:member_id]), class: 'weui-btn weui-btn_primary' %>
              </p>
            </div>
        </div>
      </div>

    <%=  render 'patients/tab_bar' %>

  </div>
</div>
