<div class="page msg_success js_show">
    <div class="weui-msg">
        <div class="weui-msg__icon-area"><i class="weui-icon-success weui-icon_msg"></i></div>
        <div class="weui-msg__text-area">
            <h2 class="weui-msg__title">绑定成功</h2>
            <p class="weui-msg__desc">点击下一步继续申请预约</p>
        </div>
        <div class="weui-msg__opr-area">
            <p class="weui-btn-area">
                <a href="javascript:void(0)" class="weui-btn weui-btn_primary">下一步</a>
            </p>
        </div>
        <div class="weui-msg__extra-area">
            <div class="weui-footer">
                <p class="weui-footer__links">
                    <a href="javascript:void(0);" class="weui-footer__link">Help</a>
                </p>
                <p class="weui-footer__text">Copyright © 2017 宝健康</p>
            </div>
        </div>
    </div>
</div>
