<div class="weui-cells__title">个人资料</div>
<div class="weui-cells weui-cells_form">
		<div class="weui-cell">
			<div class="weui-cell__hd"><label class="weui-label">姓名</label></div>
			<div class="weui-cell__bd weui-cell_primary">
				<div class="weui-cell__hd">
					<label class="weui-label"><%= resource.name %></label>
				</div>
			</div>
		</div>
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">手机号码</label></div>
        <div class="weui-cell__bd weui-cell_primary">
          <div class="weui-cell__hd"><label class="weui-label"><%= resource.mobile_phone %></label></div>
        </div>
    </div>
    <div class="weui-cell">
      <div class="weui-cell__hd"><label class="weui-label">居住地址</label></div>
      <div class="weui-cell__bd weui-cell_primary">
          <div class="weui-cell__hd"><label class="weui-label"><%= resource.location %></label></div>
      </div>
    </div>

		<a class="weui-cell" href="/users/edit">
        <div class="weui-cell__bd weui-cell_primary">
            <p>去编辑资料</p>
        </div>
        <div class="weui-cell__ft">
        </div>
    </a>
</div>
